# Custom
cucumber-report.html
screenshots/*
jsonFiles/*
.idea
/reports/
# Ignore all backstop artifacts except the config
backStopData/*
!backStopData/backStopConfig.json
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/







